* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Gordita Regular";
}
ol,
ul {
  list-style: none;
}
del {
  text-decoration: line-through;
}
body {
  font-size: 17px;
  color: #1c2c40;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
}
input,
textarea,
select {
  font-weight: 400;
  border: 1px solid;
}

a {
  color: #1c2c40;
}
a:hover,
.submit:hover {
  filter: alpha(opacity = 85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}
.thumb {
  display: block;
}
.thumb img {
  display: block;
  width: 100%;
}
p {
  line-height: 1.6em;
  font-size: 16px;
  font-weight: 400;
}
.hidden {
  display: none;
}
br.clear {
  clear: both;
  line-height: 0;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

@font-face {
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Regular"),
    url("../fonts/Gordita Regular.woff") format("woff");
}

@font-face {
  font-family: "Gordita Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Medium"), url("../Gordita Medium.woff") format("woff");
}

@font-face {
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita Bold"), url("../Gordita Bold.woff") format("woff");
}
img {
  display: block;
  width: 100%;
  height: 100%;
}
header {
}
header section.wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  align-items: center;
}
header section.wrapper div.left h1 {
  font-size: 27px;
  font-weight: 900;
}
header section.wrapper h1.right {
  margin-left: 70%;
  margin-top: -6px;
}
header section.wrapper h1.right a {
  background-color: green;
  padding: 10px;
  font-size: 17px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  border-radius: 8px;
}

section.spotlight {
  padding: 45px 8px;
}

section.spotlight div.all-posts {
  display: flex;
  justify-content: space-between;
}
.spotlight div.all-posts div.post-section {
  width: 85%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 9%;
}
.spotlight div.all-posts ul.posts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -4%;
}
.spotlight div.all-posts ul.posts li {
  width: 31%;
  margin-bottom: 3%;
}
.spotlight div.all-posts ul.posts li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.spotlight div.all-posts ul.posts li div.product-image {
  width: 60%;
  display: block;
  margin-bottom: 10px;
}
.spotlight div.all-posts ul.posts li div.details div.data {
  display: flex;
  align-items: center;
  margin-bottom: 4%;
}
.spotlight div.all-posts ul.posts li div.details div.data h4.name {
  font-size: 18px;
  margin-right: 25px;
  color: #5aaa7b;
  font-weight: 700;
}
.spotlight div.all-posts ul.posts li div.details div.data div.round {
  background: #5bab7b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}
.spotlight div.all-posts ul.posts li div.details div.data span {
  color: #5bab7b;
  font-weight: 500;
  font-size: 16px;
}
.spotlight div.all-posts ul.posts li div.details p.description {
  color: orchid;
  font-size: 18px;
  margin-bottom: 7%;
  font-weight: bold;
}
.spotlight div.all-posts.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotlight div.all-posts div.post-section ul.posts div.buttons a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #000;
  padding: 5px;
}

.spotlight div.all-posts div.post-section ul.posts div.buttons a.danger {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-left: 36%;
}

.spotlight div.all-posts div.post-section ul.posts div.buttons a.danger img {
  background-color: olivedrab;
  color: #fff;
  display: block;
  width: 25px;
}

.spotlight div.all-posts div.post-section ul.posts div.buttons a.warning {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.spotlight div.all-posts div.post-section ul.posts div.buttons a.warning img {
  background-color: olivedrab;
  color: #000;
  display: block;
  width: 25px;
}

.spotlight div.all-posts div.filter-section form {
  width: 100%;
}
.spotlight div.all-posts div.filter-section form input[type="text"] {
  border: 2px solid #5e5e5e;
  width: 100%;
  padding: 0 10px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  /* margin-bottom: 8%; */
  margin-top: -10%;
  border-radius: 8px;
  margin-left: -20%;
}
.spotlight div.all-posts div.filter-section form div.filter {
  padding: 0 0 0 10%;
  margin-bottom: 5%;
}
.spotlight div.all-posts div.filter-section form p.filter-head {
  font-size: 18px;
  color: #5e5e5e;
  font-weight: 700;
  margin-bottom: 5%;
  margin-left: -18%;
}

.spotlight div.all-posts div.filter-section form div.filter label.checkbox {
  display: flex;
  cursor: pointer;
  margin-bottom: 20px;
}
.spotlight
  div.all-posts
  div.filter-section
  form
  div.filter
  label.checkbox
  input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.spotlight
  div.all-posts
  div.filter-section
  form
  div.filter
  input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: #0ac07d;
}

.spotlight
  div.all-posts
  div.filter-section
  form
  div.filter
  input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.spotlight
  div.all-posts
  div.filter-section
  form
  div.filter
  input[type="checkbox"] {
  margin-right: 18px;
  cursor: pointer;
}
.spotlight div.all-posts div.filter-section form input[type="submit"] {
  background-color: #5aab7b;
  width: 58%;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 21%;
}
div.pagination {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 2px solid #f5f5f5;
  padding-top: 20px; */
}
div.pagination a.prev {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #5e5e5e;
  font-weight: 700;
}
div.pagination a.prev span,
div.pagination .disabled.prev span {
  transform: rotate(90deg);
  margin-right: 10px;
  width: 15px;
}
div.pagination a.next,
div.pagination .disabled {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #5e5e5e;
}
div.pagination a.next span,
div.pagination .disabled.next span {
  transform: rotate(-90deg);
  margin-left: 10px;
  width: 15px;
}
div.pagination .disabled {
  color: #ccc;
  cursor: not-allowed;
}
div.pagination div.pages {
  display: flex;
  align-items: center;
}
div.pagination div.pages span.active {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5aab7b;
  border-radius: 4px;
  margin-right: 10px;
}
div.pagination div.pages a {
  color: #5e5e5e;
  font-size: 18px;
  font-weight: 700;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
div.pagination div.pages a:hover {
  background: #c9eee4;
}
#edit-post-home {
  padding: 3% 0 5%;
  position: relative;
}
#edit-post-home .wrapper {
}
.spotlight {
  margin-top: 2%;
}
#edit-post-home .spotlight h3 {
  font-size: 30px;
  margin-bottom: 2%;
  color: #000;
  font-weight: 700;
  display: inline-block;
}
.spotlight form {
}
#edit-post-home form div.form-field {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.spotlight form div.form-field label.subhead {
  font-size: 20px;
  font-weight: 900;
  margin-left: 5%;
}
.spotlight form div.form-field input[type="text"] {
  font-size: 20px;
  color: #3f3f3f;
  font-weight: 700;
  font-weight: 400;
  border: 1px solid;
  width: 46%;
  margin-right: 20%;
  padding: 20px;
}
.spotlight form div.form-field textarea {
  font-size: 20px;
  color: #3f3f3f;
  font-weight: 700;
  font-weight: 400;
  border: 1px solid;
  width: 46%;
  margin-right: 20%;
}

.spotlight form div.description p.bottom {
  border-top: 2px solid #949494;
  padding: 20px 30px;
  color: #3f3f3f;
  font-weight: 700;
}
.spotlight form input[type="submit"] {
  background-color: #5aab7b;
  width: 10%;
  padding: 10px;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 80%;
}
/* .single-page-spotlight{

}
.post-section {

}
.title {
  font-size: 25px;
  text-align: center;
  margin: 30px 0 50px -390px;
}
.description {
  font-size: 21px;
  margin: 20px;
  margin-left: -315px;
} */
/* .name {
  margin-left: -500px;
} */
/* .post-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2%;

  } */
/* .post-image img {
  width: 40%; */
/* height: 10%; */
/* display: block;
} */
/* .brand {
  font-size: 16px;
} */
/* .middle {
  font-size: 15px;
  text-align: center;
} */

/* .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.social-media {
  width: 30px;
  height: 10px;
}

.social-media img {
  width: 30px;
  height: 10px;
} */

.short-description {
  font-size: 15px;
}
