{% extends "base.html" %}  
   {% block content %} 
   {% load static %}

   {% include "web/includes/header.html" %}
       
        <section class="spotlight">
            <div class="all-posts">
                <div class="post-section">
                    <ul class="posts">
                      {% for products in instances %}
                        <li>
                            <div class="product-image">
                                <img
                                    src="{{products.image.url}}"
                                    alt=""
                                />
                            </div>
                            <div class="buttons">
                                <a 
                                href="{% url 'web:deleted_product' id=products.id %}"
                                class="danger action-button reload"
                                data-text="Are you sure want to remove this post. You can't undo this action." 
                                data-title="Confirm Delete!"
                                title="Delete!">

                                    <img src="{% static 'image/delete.svg' %}" alt="Delete" />
                                </a>
                                <a href="{% url 'web:edit_product' id=products.id %}" class="warning">   
                                    <img src="{% static 'image/pencil.svg' %}" alt="Edit" />
                                </a>
                               
                                    
                                </a>
                            </div>
                            <div class="details">
                                <div class="data">
                                    <h4 class="name">{{products.title}}</h4>
                                    <div class="round"></div>
                                    <span>{{products.price}}</span>
                                </div>
                                
                                <p class="description">
                                    {{products.description}}
                                 
                                </p>
                              
                            </div>
                            <div class="bottom">
                                {% for tag in web.product.category.all %}
                                <a href="#" class="design">{{tag.title}}</a>
                                {% endfor %}
                            </div>
                         </li>
                     {% endfor %}
                    </ul>
                </div>
                    <div class="filter-section" id="hamburger-menu">
                        <form action="">
                            <input type="text" name="q" placeholder="Search anything..." />
                                <p class="filter-head">Category</p>
                        <div class="filter">
                           {% for category in categories %}
                        <label class="checkbox">
                            <input type="checkbox"value="{{category.id}}" name="category" />
                            <span class="label">{{category.title}}</span>
                        </label>
                        {% endfor %}
                        
                        </div>
                            <p class="filter-head">Price</p>
                        <div class="filter">
                            {% for price in prices %}
                            <label class="checkbox">
                                <input type="checkbox" name="category" />
                                <span class="label">{{price.title}}</span>
                            </label>
                        {% endfor %}  
                        </div>
                            <input type="submit" value="Bye Now" />
                        </form>
                    </div>
            </div>
        {% if instances.has_other_pages %}
        <div class="pagination">
            {% if instances.has_previous %}
            <a href="?page={{instances.previous_page_number}}" class="prev">
                Previous
            </a>
        
            {% else %}
            <a div class="prev disabled">
                Previous
            </a>
            {% endif %}
            <div class="pages">
                {% for i in instances.paginator.page_range %}
                  {% if instances.numer == i %}
                  <span class="active"> {{i}} </span>
                  {% else %}
                   <a href="?page={{i}}"> {{i}} </a>
                   {% endif %}
                {% endfor %}
               
            </div>
            {% if instances.has_next %}
            <a href="?page={{instances.next_page_number}}" class="next">
                Next
            </a>
            {% else %}
            <a div class="next disabled">
                Next
            </a>
            {% endif %}

        </div>
        {% endif %}

    </section>
{% endblock %}

   
