{% extends "base.html" %}  
   {% block content %} 
   {% load static %}
        
    <section id="single-page-home">
        <section class="wrapper">         
            {% include "web/includes/header.html" %}
            <section class="single-page-spotlight">
                <div class="all-posts">
                    
                    <div class="post-section">
                        <h3 class="title">
                            {{instance.title}}
                        </h3>
                        <div class="post">
                        <div class="post-image">
                            <img src="{{instance.image.url}}" alt="" >
                        </div>
                        <span class="middle">
                        <div class="description">
                        {{instance.description}}
                        </div>
                        <div class="name">
                            {{instance.price}}
                        </div>
                        <div class="short-description">
                            {{instance.short_description}}

                        </div>
                        </span>
                    </div>
                    </div>
                </div>             
            </section>
        </section>
    </section>
    {% endblock %}
